* {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: blue;
    padding: 1.5rem;
    color: yellow;
    font-size: 2rem;
    display: flex;
    align-items: center;      
    justify-content: center;   
        
  }
  