* {
    padding: 0%;
    margin: 0%;

}


.navbar {
    background-color: green;
    padding: 2rem;
    text-align: center;
    font-size: 50px;

}
.header {
    background-color: white;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 3rem; 
}




body {
    background-color: cadetblue;
}

.home {
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    min-height: 90vh;

}

.home>form {
    display: flex;
    flex-direction: column;

}

input {
    padding: 5px;
    text-align: center;
    margin: 5px;
}

textarea {
    padding: 20px;
    text-align: center;
    margin: 5px;
}

.home>form>button {
    width: 100%;
    background-color: black;
    color: yellow;
    padding: 4px;
    margin: 5px;
    border: 2px solid red;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.home>form>button:hover {
    background-color: aqua;
}
.task{
    display: flex;
    background-color: white;
    padding: 10px;
    
}
.task>div>p{
    padding: 2px;
    background-color: aqua;
    text-align: center;
  

}
.task span{
    background-color: brown;
    display: flex;
    justify-content: center;
}
.task>div{
    width: 100%;

}
.task button{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.about{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.contact{
    width: 100%;
    height: 100vh;
    background-color: red;
}
.footer{
    width: 100%;
    height: 50vh;
    background-color: red; 
}
.userName{
    width: 100%;
    height: 50vh;
    background-color: coral; 
}